.boxSection{
    display: flex;
    justify-content: center;
    
}
.boxItem{
    width: 180px;
    height: 90px;
}

#box1{
    background-color: green;
}

#box2{
    background-color: blue;
}

#box3{
    background-color: red;
}